<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title><%= magasin %></title>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">

	<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.core.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/async/2.4.0/async.min.js"></script>
	<script src="/js/loadimage.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	
	$("document").ready(function() {

		 var socket = io.connect({secure: true, rejectUnauthorized: false});

		 socket.on('disconnect', function(){
		       $("#connection").html('Alerte : écran déconnecté'); 
		       $("#connection").css("color","red");
	         }); 
		      
		 socket.on('reconnect', function() {
		       location.reload(); 
		 }); 

		var socketName = "<%= url_longue %><%= magasin %><%= caisse %>" ;
		socket.emit("enregistrer",socketName);

		socket.on("affiche_ticket",function(ticket){
					var jtik = $.parseJSON(ticket);
					// $("#client_prenom").html(jtik.cust.firstname+" ");
					// $("#client_nom").html(jtik.cust.lastname);
		async.series([
		function(callback)  {
					$("ul#liste").empty();
					var thumbnail;
					_.map(jtik.products,function(art) {
						if (art.img) { thumbnail = "http://"+art.img ;	} else { thumbnail = "https://screen.kerawen.com:3030/images/kerawen.png";}
						$.loadImage(thumbnail).done(function(image){
							$("ul#liste").append('<li><span class="art_img"><img src='+image.src+'></span><span class="art_name">'+art.name+'</span><span class="art_qty">x'+art.qty+'</span><span class="art_devise">'+jtik.prefix+'</span><span class="art_price">'+(art.price).toFixed(2)+'</span><span class="art_devise">'+jtik.suffix+'</span>');
					      $("#liste").scrollTop($("#liste")[0].scrollHeight);
						});
					});
					callback();
		},
		function(callback) {
					_.map(jtik.reducs,function(reduc) {
						$("ul#liste").append('<li><span class="art_name">'+reduc.name+'</span><span>'+reduc.reduc+'</span><span class="art_devise">'+jtik.prefix+'</span><span class="art_price">-'+(reduc.reduc).toFixed(2)+'</span><span class="art_devise">'+jtik.suffix+'</span>');
					});

					$("#tht").html((jtik.total_cart_vat_excl).toFixed(2)+jtik.suffix);
					$("#tva").html((jtik.total_vat).toFixed(2)+jtik.suffix);
					$("#ttc").html((jtik.total_cart).toFixed(2)+jtik.suffix);
				        callback();	
					}], function(){
					      $("#liste").scrollTop($("#liste")[0].scrollHeight);
				        });
		})
/*
		socket.on("reconnect",function(){
				socket.emit("enregistrer",socketName);
		})
*/

  })
</script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-xs-12"> 
				<span>screen version 1.0 - </span>
				<span id="connection">Connecté</span>
			</div>
		</div>
		<div class="row">
			<div id="pub" class="col-md-5 col-xs-5">
				<div>
					<img class="img-responsive" src='https://screen.kerawen.com:3030/uploads/<%= magasin %>/<%= caisse %>/pub_<%= magasin %>.jpg' />	
				</div>
			</div>

			<div class="col-md-7 col-xs-7" >
				  <div id="ticket">
					<div id="logo"><img src='https://screen.kerawen.com:3030/uploads/<%= magasin %>/<%= caisse %>/logo_<%= magasin %>.jpg'></div>	
					<div id="client">
						<span id="client_prenom" ></span> 
						<span id="client_nom" ></span> 
					</div>
					 <ul id="liste">	
					 </ul>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5 col-xs-5">
				<span id="kerawen">KERAWEN.COM &copy </span>
			</div>
			<div class="col-md-7 col-xs-7" style="background-color:silver">
					<div id="footer">
						<!--span>Total HT:</span><span id="tht">0.00</span-->  
						<!--span>TVA:</span><span id="tva">0.00</span-->  
						<span>TOTAL TTC:</span><span id="ttc">0.00</span>  
					</div>
			</div>
		</div>
	</div>
</body>
</html>
